* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    /* text-decoration: none; */
    color: #d9dcd6;
    
}

a:hover {
    color: white;
    transition: 0.3s;
    text-shadow: #323333 3px 1px;
}

nav.nav {
    background-color:#2a607c;
    padding: 20px;
    justify-content: space-between;

}

nav {
    padding: 0 2rem;
    background: var(--sky);
    position: relative;
}


@media only screen and(max-width: 800px){
    nav.nav-items {
        flex-direction: column;
    }
    nav {
        flex-direction: column !important;
    }

}


body {
    background-color: #d9dcd6;
}

.nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7f949e;
    color: #ffffff;
}

.nav h1 {
    display: inline-block;
    font-size: 48px;
}

.nav h1 .seo {
    color: #d9dcd6;
}

.nav div {
    padding-top: 15px;
    margin-right: 20px;
    margin-left: 0px;
    padding-left: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #2a607c;
}

.nav div ul {
    list-style-type: none;
}

.nav div ul li {
    display: inline-block;
    margin-left: 20px;
    /* background-color: red; */
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background: #161415 url("../images/digital-marketing-meeting.jpg") no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
}

.big {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* background-image: url("../images/digital-marketiimgng-meeting.jpg"); */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 2000px;
}
.float-left {
    float: left;
    margin: 0px 25px 10px 20px;
}

.search-engine {
    float: right;
    margin: 0px 25px 10px 20px;

}

/* .content {
    width: auto;
    display: inline-block;
    margin-left: 20px; 
} */




.benefits {
    /* margin: 0px 0px 0px 20px; */
    padding: 20px;
    clear: both;
    width: auto;
    min-height: 2000p;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {display: block;
    margin-bottom: 32px;
    color: #ffffff;
    max-height: auto;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
   
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}



.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
